version: '3.8'

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminpassword
      - DOCKER_INFLUXDB_INIT_ORG=myorg
      - DOCKER_INFLUXDB_INIT_BUCKET=hems_data
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-auth-token # new
      - DOCKER_INFLUXDB_INIT_RETENTION=4w
      - INFLUXD_LOG_LEVEL=error

  auth_service:
    build: ./auth_service
    container_name: auth_service
    ports:
      - "8003:8003"
    environment:
      - PORT=8003
      - JWT_SECRET_KEY=supersecretjwtkeyforlocaldev
      - ACCESS_TOKEN_EXPIRE_MINUTES=1440
    volumes:
      - ./auth_service:/app

  ingest_service:
    build: ./ingest_service
    container_name: ingest_service
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=my-super-secret-auth-token
      - INFLUX_ORG=myorg
      - INFLUX_BUCKET=hems_data
      - JWT_SECRET_KEY=supersecretjwtkeyforlocaldev
    depends_on:
      - influxdb
    volumes:
      - ./ingest_service:/app

  optimization_service:
    build: ./optimization_service
    container_name: optimization_service
    ports:
      - "8002:8002"
    environment:
      - PORT=8002
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=my-super-secret-auth-token
      - INFLUX_ORG=myorg
      - INFLUX_BUCKET=hems_data
      - JWT_SECRET_KEY=supersecretjwtkeyforlocaldev
    depends_on:
      - influxdb
    volumes:
      - ./optimization_service:/app

  api_service:
    build: ./api_service
    container_name: api_service
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=my-super-secret-auth-token
      - INFLUX_ORG=myorg
      - INFLUX_BUCKET=hems_data
      - JWT_SECRET_KEY=supersecretjwtkeyforlocaldev
    depends_on:
      - influxdb
    volumes:
      - ./api_service:/app

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8050:8050"
    environment:
      - API_SERVICE_URL=http://api_service:8000
      - AUTH_SERVICE_URL=http://auth_service:8003
      - OPT_SERVICE_URL=http://optimization_service:8002
    depends_on:
      - api_service
      - auth_service
    volumes:
      - ./frontend:/app

volumes:
  influxdb_data:
